body{margin:0 auto; font-size:12px; font-family:宋体; font-weight:normal; }

img { border:none; }
p { margin:0; padding:0; line-height:180%; }
a { color:#006699; text-decoration:none; }
a:hover { text-decoration:underline; }

.btns { background:url(http://sso.glitter.com:8080/images/btns_word.png) no-repeat; display:block; overflow:hidden; line-height:200px; zoom:1;
    width:86px; height:40px; float:left; }

body { background:url(http://sso.glitter.com:8080/images/body_bg.png) repeat-x #D6DBDD; }
.cloud {background:url(http://sso.glitter.com:8080/images/login_bg.png) repeat-x; width:100%; height:285px; position:fixed; bottom:0; z-index:-1;}
.main { width:700px; margin:20px auto;}
.logbox { border:solid 2px #ddd; background-color:#fff; border-radius:7px; margin-top:10px; padding:20px; }
.logbox * { font-size:14px; font-family: 微软雅黑; }
.green { color:green; padding-left:6px;}
.line { border-bottom:dotted 1px #d8d8d8; margin:20px 0; }
a.shouquan {background-position: 0 -82px; margin:0 20px 0 0;}
a.shouquan:hover {background-position: -87px -82px;}
a.quxiao {background-position: 0 -41px;}
a.quxiao:hover {background-position: -87px -41px;}
.put { width:290px; height:28px; padding:0 6px; line-height:20px; color:#555;
    border: 1px solid #BEBEBE;
    background: #FAFAFA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 0 #FFF;
    -webkit-box-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 0 #FFF;
    outline-style:none;
}
.bnote { padding:10px 0 0 10px;}
#sp_err { color:Red;}