<configuration status="INFO" monitorInterval="1800">

    <Properties>
        <Property name="LOG_PATH">/home/logs</Property>
        <Property name="LOG_PROJECT_NAME">@project.artifactId@</Property>
        <Property name="LOG_PATTERN">[${LOG_PROJECT_NAME}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5p => %c.%M(%F:%L) - %m%n</Property>
        <Property name="ROLLING_FILE_NAME">${LOG_PATH}/${LOG_PROJECT_NAME}.log</Property>
        <!-- 按月,天来进行归档并压缩,每个文件大小限制50MB,也缩后大约是300多KB,没有限制每天可以产生的日志文件数,这个也是可以限制的,但觉得按照实际策略,没有必要了 -->
        <Property name="ROLLING_FILE_PATTERN">${LOG_PATH}/$${date:yyyy-MM}/${LOG_PROJECT_NAME}-%d{yyyy-MM-dd}-%i.log.gz</Property>
        <Property name="ROLLING_FILE_MAX_SIZE">50MB</Property>
        <Property name="LOG_LEVEL_ROOT">ERROR</Property>
        <Property name="LOG_LEVEL_SPRING">WARN</Property>
        <Property name="LOG_LEVEL_MYBATIS">DEBUG</Property>
        <Property name="LOG_LEVEL_GLITTER">INFO</Property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <RollingFile name="RollingFile" fileName="${ROLLING_FILE_NAME}" filePattern="${ROLLING_FILE_PATTERN}">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${ROLLING_FILE_MAX_SIZE}" />
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="${LOG_LEVEL_ROOT}">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </root>
        <logger name="org.springframework" level="${LOG_LEVEL_SPRING}"/>
        <logger name="com.ibatis" level="${LOG_LEVEL_MYBATIS}"/>
        <logger name="com.glitter.spring.boot" level="${LOG_LEVEL_GLITTER}"/>
    </loggers>

</configuration>
