<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>authorize</title>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/jsencrypt.min.js"></script>

    <script type="text/javascript">
        $(function(){
            var domain = "http://localhost:8081";
            // var domain = "http://limengjun.com/demo";

        });
    </script>
</head>
<body>
<span th:text="${clientId}"></span>! <br>
</body>
</html>